.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 51px;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 36px;
  }
}