.photo-grid__like {
  background-image: url(../../../images/like.svg);
  height: 19px;
  width: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: 0;
}

.photo-grid__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
.photo-grid__like:active {
  background-image: url(../../../images/like-active.svg);
  opacity: 1;
}